/**
 * Main Page CSS
 */
.menu_button
{
	padding-top:12px;
	padding-left:8px;
	width:50px;
}
.TAbutton {
	-moz-box-shadow:inset 0px 1px 50px 3px #000203;
	-webkit-box-shadow:inset 0px 1px 50px 3px #000203;
	box-shadow:inset 0px 1px 50px 3px #000203;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	padding:10pt;
	display:inline-block;
	color:#000;
	font-family:arial;
	font-size:20px;
	font-weight:bolder;
	font-style:normal;
	height:100px;
	width:250px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 13px #000000;
	border-radius: 100%;
}
.TAbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(1, #5c5c5c), color-stop(0.05, #8af) );
	background:-moz-linear-gradient( center top, #5c5c5c 100%, #8af 5% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8af', endColorstr='#5c5c5c');
	background-color:#8af;
	color: #fff;
	text-shadow:1px 1px 13px #fff;
}.TAbutton:active {
	position:relative;
	top:1px;
}
.menu_header
{
	background-color:#ffc;  
	padding:16px;
	font-color:black;
	font-family: arial;
	line-height:20px;
	
}
#popup a, #popup a:visited {
	display: block;
	position: relative;
}

#popup a span {
	display: none;
	font-family: arial,sans-serif;
	font-size: 13px;
}
/* the IE correction rule */
#popup a:hover span {
	display: block;
	position: absolute;
	font-weight:normal;
	top: 0px;
	line-height: normal;
	left: 170px;
	width: 250px;
	margin: 0px;
	padding: 20px;
	color: #5c5c5c;
	background: #ff8;
	text-align: left;
	border: 1px solid #666;
	border-radius: 20px;
	text-shadow:none;
}
#popup a:hover span.right {
	display: block;
	position: absolute;
	font-weight:normal;
	top: 0px;
	line-height: normal;
	left: -180px;
	width: 250px;
	margin: 0px;
	padding: 20px;
	color: #5c5c5c;
	background: #ff8;
	text-align: left;
	border: 1px solid #666;
	border-radius: 20px;
	text-shadow:none;
}
